Django==5.2.5
asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
crispy-bootstrap5==0.7
dj-static==0.0.6
django-crispy-forms~=1.13.0
django-feather==0.3.0
docopt==0.6.2
gunicorn==21.2.0
idna==3.10
pytz==2023.3
requests==2.32.5
sqlparse==0.5.3
static3==0.7.0
urllib3==2.5.0
whitenoise==6.5.0
yarg==0.1.10
