Django==4.2.3
asgiref==3.7.2
crispy-bootstrap5==0.7
dj-static==0.0.6
django-crispy-forms~=1.13.0
django-feather==0.3.0
gunicorn==21.2.0
psycopg2-binary==2.9.6
pytz==2023.3
sqlparse==0.5.0
static3==0.7.0
whitenoise==6.5.0
