asgiref==3.9.1
astroid==3.3.11
certifi==2025.8.3
charset-normalizer==3.4.3
crispy-bootstrap5==2025.6
dill==0.4.0
dj-static==0.0.6
Django==5.2.9
django-crispy-forms==2.4
django-feather==0.3.0
docopt==0.6.2
gunicorn==23.0.0
idna==3.10
isort==6.0.1
mccabe==0.7.0
packaging==25.0
platformdirs==4.3.8
psycopg==3.3.2
psycopg-binary==3.3.2
pylint==3.3.8
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
sqlparse==0.5.3
static3==0.7.0
tomlkit==0.13.3
urllib3==2.5.0
whitenoise==6.9.0
yarg==0.1.10
