{% extends "skeleton.html" %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
        <div class="col">
            &nbsp;
        </div>
        <div class="col-10">
            <div class="container mt-5">
                <div class="jumbotron border">
                    <h2 class="display-5 jumbotitle text-primary">SmartDjango</h2>
                    <p class="lead">A simple Django Template in Python</p>
                    <hr class="my-4"/>
                    <div>
                        <small class="text-secondary">
                            SmartDjango v.<span id="version">{{ version }}</span>
                        </small>
                    </div>
                    <div class="mt-4">
                        <a class="btn btn-primary btn-lg" href="/home" role="button">Enter</a>
                        &nbsp;
                        <a class="btn btn-success btn-lg" href="/admin" role="button">Administration</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            &nbsp;
        </div>
    </div>
    </div>
{% endblock %}
