<!doctype html>
<html lang="en" class="h-100">
<head>

    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap & Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Other CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "SmartDjango/css/main.css" %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static "SmartDjango/img/favicon-32x32.png" %}">

    {% block pagecss %}{% endblock %}
    {% block title %}{% endblock %}

</head>
<body class="d-flex flex-column h-100">

{% block content %}
{% endblock %}

<!-- General purpose JavaScript -->
<script src="{% static 'SmartDjango/js/main.js' %}"></script>

<!-- Bootstrap JS bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


{% block extrajavascript %}
{% endblock %}

</body>
</html>
